@charset "utf-8";
/* CSS Document */

body{
	background:#FFF;
}
#banner{
	background:#0CC;
	height:7em;
	margin:-8px;
}
.menu{
	display:inline-block;
	background:#FC3;
	text-decoration:none;
	padding:1em;
	margin:-10px;
}